/* ExperienceCard.css */

.experience-card {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .card-title {
    font-size: 1.25rem; /* Increase font size for title */
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
  }
  
  .card-subtitle {
    font-weight: lighter; /* Use a lighter font weight for company name */
    margin-top: -5px; /* Adjust as needed for spacing */
  }